@* El modelo sigue siendo Rol si lo pasas directamente desde el controller *@
@model ProyectoFinal_G8.Models.Rol

@{
    ViewData["Title"] = "Detalles del Rol";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div>
        <h4>Rol</h4>
        <hr />
        <dl class="row">
            @* Cambiado a Name *@
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descripcion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>

            @* Puedes mostrar el ID si lo deseas *@
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>
        </dl>
    </div>
    <div>
        @* Cambiado a Id *@
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar Rol</a> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista de Roles</a>
    </div>
</div>