@model ProyectoFinal_G8.Models.Usuario

@{
    ViewData["Title"] = "Detalles Usuario";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

            
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-3">Rol Principal</dt>
            <dd class="col-sm-9">@(Model.Rol != null ? Model.Rol.Name : "N/A")</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Direccion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Direccion)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UserName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UserName)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EmailConfirmed)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.EmailConfirmed)</dd>

        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>